@{
    ViewBag.Title = Resources.Resources.UI_ConfirmEmail;
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        @Resources.Resources.UI_ConfirmThanks @Html.ActionLink(Resources.Resources.UI_ClickLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
