@{
    ViewBag.Title = Resources.Resources.UI_ForgotPasswordConfirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.Resources.UI_CheckEmail
    </p>
</div>
	
