@{
    ViewBag.Title = Resources.Resources.UI_ResetPasswordConfirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.Resources.UI_ResetConfirm @Html.ActionLink(Resources.Resources.UI_ClickLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
