@model DMSLite.Entities.Donor
<div class="modal-body">
    Donor @Model.FirstName successfully edited!
</div>
<div class="modal-footer">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" id="createButton">
            <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
        </div>
    </div>
</div>