@{
    ViewBag.Title = "Create Role";
}

<h2>Create Role</h2>
@Html.ActionLink("List Roles", "Index")
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        Role name
    </div>
    <p>
        @Html.TextBox("RoleName")
    </p>
    <input type="submit" value="Save" />
}
