body {
    height:100%;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sticky-footer {
    position:fixed;
    bottom: 0;
    left:0;
    height: 50px;
    width:100%;
}

#mainInput {
    max-width:none;
    transition: background-image 1s linear;
    /*transition: background-color 1s linear;*/
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle cx='15' cy='15' r='5' fill='white'/></svg>");
        
    /*background-image: url('http://placekitten.com/1500/1000');*/
    background-repeat:no-repeat;
    background-position: left center;
}

.content-box {
    height: calc(100vh - 100px);
    overflow-y: auto;
}

#mainInput::-webkit-input-placeholder  {
  -webkit-transition: opacity 0.3s linear; 
  color: gray;
  opacity: 0;
}

.input_hide_placeholder::-webkit-input-placeholder  {
  
}

.input_show_placeholder::-webkit-input-placeholder  {
  opacity: 1;
}


.loading-background {
     background-image:url("ring-alt.svg") !important;
     background-repeat:no-repeat;
     background-position:left center;
     padding-left:34px;
}

/*
.loading-background:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('http://placekitten.com/1500/1000');
    background-repeat: no-repeat;
    background-position: left center;
}*/