body {
    height:100%;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sticky-footer {
    position:fixed;
    bottom: 0;
    left:0;
    height: 50px;
    width:100%;
}

#mainInput {
    max-width:none;
}

.content-box {
    height: calc(100vh - 100px);
    overflow-y: auto;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.has-feedback label~.form-control-feedback {
    top: 25px;
}

.has-error .form-control-feedback {
    color: #a94442;
}
.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

.default-loading {
    background-image:url("ring-alt.svg");
    width:30px;
    height:30px;
    display:block;
}

.loading-addon {
    padding: 0px 6px;
    /*visibility:collapse;*/
    /*display:none;*/
}

#mainInput::-webkit-input-placeholder  {
  -webkit-transition: opacity 1.0s linear; 
  color: gray;
}

#mainInput {
    -webkit-transition: width 1.0s linear;
}

.input_hide_placeholder::-webkit-input-placeholder  {
  opacity: 0;
}

.input_show_placeholder::-webkit-input-placeholder  {
  opacity: 100;
}

.loading-background {
     background:url("ring-alt.svg") no-repeat left center;
}