body {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #3b3b3b;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    height:100%;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Keep the chat box on the bottom of the page at all times */
.sticky-footer {
    position:fixed;
    bottom: 0;
    left:0;
    height: 50px;
    width:100%;
}

#mainInputGroup {
    margin-top:8px;
}

#mainInput {
    max-width:none;
    transition: background-image 0.3s linear, background-color 0.3s linear, padding-left 0.3s steps(1, end);
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle cx='15' cy='15' r='5' fill='white'/></svg>");
    background-repeat:no-repeat;
    background-position: left center;
    position: relative;
    z-index: 10;
    background: transparent;
}

/* The chat output is set to appear directly above the chat box at all times */
.content-box {
    height: calc(100vh - 100px);
    overflow-y: auto;
}

#mainInput::-webkit-input-placeholder  {
  -webkit-transition: opacity 0.3s linear; 
  color: gray;
  opacity: 0;
}

.loading-background::-webkit-input-placeholder  {
  opacity: 1 !important;
}

.loading-background {
     background-image:url("ring-alt.svg") !important;
     transition: background-image 0.3s linear, background-color 0.3s linear, padding-left 0.3s steps(1, start) !important;
     cursor:default !important;
     padding-left:34px;
}

#submitBtn {
    -webkit-transition: opacity 0.3s linear;
}

/* The css for the beautiful chat interface*/
.bubble {
    padding: 10px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    color:white;
}
.bubble p {
    margin: 0px;
}
.leftBubble {
    background-color: #27ae60;
    border-top-left-radius: 0px;
}
.rightBubble {
    background-color: #3b3b3b;
    border-top-right-radius: 0px;
    float: right;
}
.bubbleLine {
    overflow: hidden;
}

/*Format of the div tables*/
.divTableWrapper {
    padding: 5px;
}
.divTable {
  margin: 20px 0 20px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  .divTable {
    display: block;
  }
}

.tableRow {
  display: table-row;
  background: #f6f6f6;
}
.tableRow:nth-of-type(odd) {
  background: #e9e9e9;
}
.tableRow.header {
  color: #ffffff;
  background: #ea6153;
}
.tableRow.green {
  background: #27ae60;
}

@media screen and (max-width: 580px) {
  .tableRow {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}

/* Make sure that the scroll bar for modal content only appears when necessary
*/
.modal {
    overflow-y: auto;
}
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    overflow: auto;
    margin-right: 0;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

.pencil {
    color: #186839;
    text-decoration: none;
}
.pencil:hover {
    color: #27ae60;
     text-decoration:none; 
     cursor:pointer;
}
.lock {
    color: #186839;
    text-decoration: none;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


.loading-button-icon {
    display:none;
    transform-origin: 54% 58%;
    margin-right:7px;
}

.select2-container {
    width: 100%;
    max-width: 280px;
}

#search-container {
    position: relative;
}

#search-container input {

    padding: 5px;
    font-size: 1.2em;
    width: 100%;
    max-width: none;
}

#search {
    position: relative;
    color: #000;
    z-index: 10;
    border: 1px solid #666;
    background: transparent;
}

#suggestion {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    color: #ccc;
    background: transparent;
    border: 1px solid #fff;
}