@model DMSLite.Models.ResponseModel

<div class="bubbleLine"><div class="bubble leftBubble">@Model.Speech</div></div>

@if(Model.Instructions != null)
{
    //Switched from regular tuple: Method, Controller
    @Html.Action(Model.Instructions.Item2, Model.Instructions.Item1, new { parameters = Model.Parameters })
}
