@{
    ViewBag.Title = "Home Page";
}

<div id="outputOuter" class="row content-box">
    <div class="col-md-12" id="outputContainer">
        <br />
        <div class="bubbleLine"><div class="robotlogo"><i class="fa fa-android" aria-hidden="true"></i></div><div class="bubble leftBubble">Welcome to DMS Lite!<br />You can always type help if you are feeling stuck!</div></div>
        <div class="bubbleLine"><div class="robotlogo"><i class="fa fa-android" aria-hidden="true"></i></div><div class="bubble leftBubble">What would you like to do?</div></div>
    </div>
</div>

@using (Ajax.BeginForm("SendInput", new AjaxOptions()
{
    InsertionMode = InsertionMode.InsertAfter,
    UpdateTargetId = "outputContainer",
    OnSuccess = "updateContainer",
    OnBegin = "startLoading",
    OnFailure = "ajaxFailure"
}))
{
<div class="sticky-footer">
    <div class="container">
        <div class="row">
            <div class="form-group">
                <div id="flagInvalidContainer">
                    @Ajax.ActionLink("Did something break?", "Log", "Help", null)
                </div>
                <div id="mainInputGroup" class="input-group">
                    <div id="search-container">
                        <input type="text" disabled="disabled" id="suggestion" />
                        @Html.TextBox("mainInput", null, new { @class = "form-control", @autocomplete = "off", @placeholder = "Thinking..." })
                    </div>
                    <span class="input-group-btn">
                        <input id="submitBtn" class="btn btn-default" type="submit" value="Send" />
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
}

@Scripts.Render("~/bundles/home")
@Scripts.Render("~/bundles/suggestionBar")