@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    // Scroll the output container to the bottom
    function updateContainer() {
        $("#outputOuter").animate({
            scrollTop: $("#outputOuter").prop("scrollHeight")
        }, 350);
    }

    function addText() {
        var div = document.getElementById('outputContainer');
        var searchTerm = document.getElementById('mainInput').value;
        div.innerHTML = div.innerHTML + searchTerm;
    }
</script>
<div id="outputOuter" class="row content-box">
    <div class="col-md-12" id="outputContainer"></div>
</div>

@using (Ajax.BeginForm("SendInput", new AjaxOptions()
{
    InsertionMode = InsertionMode.InsertAfter,
    UpdateTargetId = "outputContainer",
    OnSuccess = "updateContainer"
}))
{
    <div class="row sticky-footer">
        <div class="col-md-10">
            @Html.TextBox("mainInput")
        </div>
        <div class="col-md-2">
            <input id="searchButton" type="submit" value="Send" />
        </div>
    </div>
}

<script>
    document.getElementById("searchButton").addEventListener("click", function () {
        addText();
    });
</script>
