@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div class="row content-box">
    <div class="col-md-12" id="outputContainer"></div>
</div>

@using (Ajax.BeginForm("SendInput", new AjaxOptions()
{
    InsertionMode = InsertionMode.InsertAfter,
    UpdateTargetId = "outputContainer"
}))
{
    <div class="row sticky-footer">
        <div class="col-md-10">
            @Html.TextBox("mainInput")
        </div>
        <div class="col-md-2">
            <input type="submit" value="Send" />
        </div>
    </div>
}
