@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    // Scroll the output container to the bottom
    function updateContainer() {
        $("#outputOuter").animate({
            scrollTop: $("#outputOuter").prop("scrollHeight")
        }, 350);
    }
</script>
<div id="outputOuter" class="row content-box">
    <div class="col-md-12" id="outputContainer"></div>
</div>

@using (Ajax.BeginForm("SendInput", new AjaxOptions()
{
    InsertionMode = InsertionMode.InsertAfter,
    UpdateTargetId = "outputContainer",
    OnSuccess = "updateContainer"
}))
{
    <div class="sticky-footer">
        <div class="container">
            <div class="row">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                        </span>
                        @Html.TextBox("mainInput", null, new { @class = "form-control" })
                        <span class="input-group-btn">
                            <input class="btn btn-default" type="submit" value="Send" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
