<div class="modal fade showModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @Html.Action("ReceiptForm")
        </div>
    </div>
</div>
