@model Dictionary<string, object>

<div class="modal fade showModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            @Html.Action("AddForm", Model)
        </div>
    </div>
</div>

