@model DMSLite.Entities.Donation

<div class="modal fade showModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Donation</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete donation @Model.Id ?
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" id="createButton">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        @using (Ajax.BeginForm("DeleteFromDonation", "Donation", new AjaxOptions()
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "asd"
                        }))
                        {
                            @Html.HiddenFor(model => model.Id)
                            <input type="submit" value="Delete" class="btn btn-primary" />
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>