@model bool

@if (Model)
{
    <div class="bubbleLine">
        <div class="robotlogo"><i class="fa fa-android" aria-hidden="true"></i></div>
        <div class="bubble leftBubble">
           Now only showing posted donations!
        </div>
    </div>
}
else
{
    <div class="bubbleLine">
        <div class="robotlogo"><i class="fa fa-android" aria-hidden="true"></i></div>
        <div class="bubble leftBubble">
            Now showing both posted and open donations!
        </div>
    </div>
}

