@model DMSLite.Entities.Account

<select class="donors-selector format-select2" style="width:100%;" name="DonationAccount" data-select2-placeholder="Select an account">
    <option></option>
    @foreach (var account in ViewBag.Accounts)
    {
        <option value="@account.Id" @(Model != null && Model.Id == account.Id ? "selected='selected'" : "")>@account.Title (ID: @account.Id)</option>
    }
</select>