@model DMSLite.Models.ResponseModel

<div class="bubbleLine"><div class="bubble leftBubble">Just so you know, I deal with donors, donations and batches. I can help you view, add and edit them.<br><br> You can type things like:<br> - How are you?<br> - Show all donors<br> - Show me donations from Michael that are less than $400<br> - View batch<br> - Add donor John Smith<br><br> As you type, I will try to predict what you want to do. Click your tab key to have me auto-fill the rest of the search query!<br> Neato, right? <br><br> Still having problems? Send us an email at the feedback link at the top of the chat!</div></div>
