@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="mailto:dmslite@silentpartnersoftware.com?subject=Customer%20Feedback&amp;body=Please%20complete%20the%20following%3A%0A%0AWhat%20I%20typed%3A%0A%0AWhat%20I%20got%3A%0A%0AWhat%20I%20wanted%20instead%3A%0A%0ACustomer%20Notes%3A">Feedback</a>
        </li>
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}