@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.Resources.UI_LockedOut;
}

<hgroup>
    <h1 class="text-danger">@Resources.Resources.UI_LockedOut.</h1>
    <h2 class="text-danger">@Resources.Resources.UI_ThisAccountLockedOut</h2>
</hgroup>
