@model DMSLite.Entities.Batch

<div class="bubbleLine">
    <div class="bubble leftBubble">
        The batch "@Model.Title" has no donations. Would you like to 
        @Ajax.ActionLink("add one?", "AddMenu", "Donation", new {  },new AjaxOptions()
        {
            InsertionMode = InsertionMode.InsertAfter,
            UpdateTargetId = "outputContainer",
            OnComplete = "checkShowModal"
        })
    </div>
</div>

