@model DMSLite.Entities.Batch

<div class="bubbleLine">
    <div class="robotlogo"><i class="fa fa-android" aria-hidden="true"></i></div>
    <div class="bubble leftBubble">
        @Resources.Resources.UI_TheBatch "@Model.Title" @Resources.Resources.UI_DonWouldYouLikeTo
        @Ajax.ActionLink(Resources.Resources.UI_AddOne, "AddMenu", "Donation", new {  },new AjaxOptions()
        {
            InsertionMode = InsertionMode.InsertAfter,
            UpdateTargetId = "outputContainer",
            OnComplete = "checkShowModal"
        })
    </div>
</div>

